.item-cart {
  display: flex;
  padding: 10px 15px;
  border: solid 1px #000;
  border-radius: 10px;
  background-color: rgba(150, 150, 150, 0.6);
}
.item-cart > img {
  width: 125px;
  height: 125px;
  border-radius: 10px;
  margin-right: 1rem;
}
.item-cart-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item-cart-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: solid 1px #c2c2c2;
}
.item-cart-info > div > p {
  text-align: center;
  padding-left: 10px;
}
.item-cart-info  > button {
  display: block;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 10px 5px;
  cursor: pointer;
}
