.cartwidget {
  position: relative;
  background-color: rgba(202, 202, 242, 0.8);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.cartwidget-count {
  position: absolute;
  bottom: -4px;
  right: -8px;
  background-color: rgba(202, 202, 252, 1);
  font-size: 15px;
  text-align: center;
  padding: 1px 5px;
  border-radius: 50%;
}